<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset='utf-8'>
        <title>My Blog</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}"/>

    </head>

    <body>
        <div id="top">
            <header id="hd">
                <h1>Coding Story</h1>
            </header>
            <br>
            <nav id="navi">
                <ul>
                    <li>Home</li>
                    <li>About me</li>
                    <li>My project</li>
                    <li><a href='board/'>BOARD</a></li>
                </ul>
            </nav>
        </div>
       <br>
        <div id="contents">
            <h2>Prepation for developer!!</h2>
            <img src="{% static 'img/coding.jpg' %}" alt="coding" width="45%" hegiht="40%">
            <ul>
                <section class="desc">
                <li><h3>About me</h3></li>                
                <p>
                    Writing about content description......
                    Writing about content description......
                    Writing about content description......
                    Writing about content description......
                    Writing about content description......
                    Writing about content description......
                </p>
                </section>

                <section class="desc">
                <li><h3>My project</h3></li>
                <p>
                    Writing about content description......
                    Writing about content description......
                    Writing about content description......
                    Writing about content description......
                    Writing about content description......
                    Writing about content description......
                </p>
                </section>

                <section class="desc">
                <li><h3>Record</h3></li>
                <p>
                    Writing about content description......
                    Writing about content description......
                    Writing about content description......
                    Writing about content description......
                    Writing about content description......
                    Writing about content description...... 
                </p>
                </section>
            </ul>
        </div>

        <br>
        <footer> Copyright 2018 kyukim All rights reserved. </footer>
        
        <script>
        </script>
    </body>
</html>